.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  p {
    font-size: 1.5em;
  }

  .orange {
    color: $orange;
  }

  .small-explanation {
    font-size: 21px;
    padding: 20px 1em;
    text-align: center;
    color: $gray;
    max-width: 70%;
    font-weight: 100;
  }
}
