.kp-list {
  padding: 30px calc(20% - 160px);
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  @include media-is(mobile) {
    flex-direction: column;
  }
  .kp-item {
    width: 50%;
    margin-bottom: 30px;
    justify-content: flex-start;

    @include media-is(mobile) {
      width: 100%;
      justify-content: center;
    }

    &.before-enter {
      opacity: 0;
      transform: translateY(100px);
      transition: all 600ms ease-in-out;
      @for $x from 1 through 7 {
        &:nth-child(#{$x}) {
          transition-delay: 300ms * $x;
        }
      }
    }

    &.enter {
      opacity: 1;
      transform: translateX(0px);
    }

    .item-inner {
      @include media-is(mobile) {
        width: 100%;
        p {
          font-size: 1em;
          max-width: 85%;
        }
      }
      .kp-head-wrapper {
        margin-bottom: 10px;

        @include media-is(mobile) {
          h4 {
            font-size: 1.4em;
          }
        }
      }
    }
  }
}
