@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin opacityAnimation {
  @keyframes opacityUp {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@mixin blockBackground(
  $left,
  $bottom,
  $margin,
  $padding: unset,
  $color: $orange
) {
  content: ' ';
  display: block;
  background: $color;

  border-radius: 2px;
  width: 100%;
  height: 100%;
  z-index: -2;
  position: absolute;
  left: $left;
  bottom: $bottom;
  margin: $margin;
  padding: $padding;
}

@mixin before-enter-anim($translateY, $transTime, $translateX: 'unset') {
  opacity: 0;
  transform: translateY($translateY);
  transform: translateX($translateX);
  transition: all $transTime ease-in-out;
}

@mixin enter-anim() {
  opacity: 1;
  transform: translateX(0px);
}
