// colors
$black: #11151c;
$gray-l-transparent: #11151cab;
$orange: #cc4b00;
$white: #fffeff;
$white-soft: #fffdeb;
$green: #21a0a0;
$text-shadow-orange: #3a1f10;

//fluid widt and font types
$min_width: 320px;
$max_width: 1400px;
$min_font: 16px;
$max_font: 22px;
