@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  font-family: 'Dosis', sans-serif;
  height: 100%;
}

main {
  /* make sure to cover the screen */
  min-height: 100vh;

  /* need a solid bg to hide the footer */
  background: white;

  /* put on top */
  position: relative;
  z-index: 1;
}

a {
  text-decoration: none;
  color: $black;

  &:link,
  &:visited {
    color: $black;
  }

  &:hover {
    color: $orange;
  }
  &:active {
    color: $black;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: $black-soft;
}

h4 {
  font-size: 1.1em;
}

small {
  color: $white;
  font-size: small;
}

textarea {
  margin: 30px 0px 0px;
  outline: rgb(255, 37, 58);
  font-family: 'Dosis', sans-serif;
  width: 80%;
  resize: none;
  border: 1px solid $orange;

  &::placeholder {
    text-indent: 5px;
    padding-right: 5px;
    font-size: 1.2em;
  }
}

.h-thin {
  font-weight: 100;
}

.h-mid {
  font-weight: 400;
}

.h-bolder {
  font-weight: 800;
}

p {
  color: $black-softer;
}

li {
  list-style: none;
  text-transform: capitalize;
  font-weight: 500;
}

.btn {
  font-family: 'Dosis', 'sans-serif';
  font-size: 0.9rem;
  padding: 0.5rem;
  border: 2px groove $orange2;
  background: $orange;
  color: $white;
  font-weight: 400;
  cursor: pointer;
}

//layout

.flex {
  display: flex;
  align-items: flex-start;
}

.hero-header {
  font-weight: 400;
  font-size: 3em;
  font-weight: 700;
  text-shadow: 1px 1px $text-shadow-orange;
}

.orange {
  color: $orange;
}

.block {
  width: 100vw;
  min-height: 50vh;
  padding: 50px 10px;
}

.p-small {
  font-size: 0.8rem;
  color: $black-softer;
  font-weight: 100;
}

//icons

.icons-orange {
  color: $orange;
  margin: 10px;
  font-size: 1.5rem;
  min-width: 2em;
}

//containers

.modal {
  max-width: 900px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $white;
  box-shadow: 1px 1px 13px rgba(128, 128, 128, 0.377);
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100vw;
  min-height: 20vh;
  background-color: $black;
}
